@charset "UTF 8";


      body {
          background-color: rgb(226, 145, 185);
          font-family: 'Times New Roman', Times, serif;
          h1{
               color:rgb(112, 112, 112);
               font-size: 500%;
               
          }
          h2 {
               color:rgb(80, 51, 2);           
               font-size:400%;
               

          }
          h3 {
               color:yellow;
               font-size: 350%;
               

          }
          h4 {
               color:aquamarine;
               font-size: 280%;
          }
          
          p {
               color: white;
               font-size: 200%;

          }
          li {
               color: white;
               font-size: 200%;
          }